* {
    color: #F9F4DA;
}

body {
    margin: 0;
    background-color: #282726;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header p {
    color: #8E8E8E;
}

section.game-status {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #10A95B;
    min-width: 25rem;
    border-radius: 5px;
}